name: Deploy docs to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write # allows the 'Commit' step without tokens


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build documentation
        run: pnpm run build:docs

      - name: Deploy to GitHub Pages
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git checkout gh-pages
          git add .
          git commit -m "CI updated the documentation"
          git push
